@*<h3>Filtering</h3>

<MudCard>
    <MudTextField Label="Κατηγορίες"></MudTextField>
    @foreach (var category in AllCategories)
    {
        <MudCheckBox @bind-Value=category></MudCheckBox>
    }
    <MudTextField Label="Μαθήματα"></MudTextField>
    @foreach (var subject in AllSubjects)
    {
        <MudCheckBox @bind-Value=subject></MudCheckBox>
    }
    <MudTextField Label="Έτος"></MudTextField>
    @foreach (var year in AllYears)
    {
        <MudCheckBox @bind-Value=year></MudCheckBox>
    }
    <MudTextField Label="Δημιουργήθηκε από"></MudTextField>
    @foreach (var author in AllAuthors)
    {
        <MudCheckBox @bind-Value=author></MudCheckBox>
    }
</MudCard>

@code {
    public List<string> AllCategories = new List<string> { "Ανακοινώσεις", "Εξετάσεις", "Εργασίες", "Διαγωνίσματα" };
    public List<string> AllSubjects = new List<string> { "Μαθηματικά", "Πληροφορική", "Φυσική", "Χημεία" };

}*@
