@page "/usersettings"
@attribute [Authorize]

@inject HttpClient Http

@using DTOs.Data;
@using Microsoft.AspNetCore.Authorization;
@using DTOs.API.Responses
@using DTOs.Common

<PageTitle>Οι Ρυθμίσεις μου</PageTitle>

<MudText Typo="Typo.h3">Οι Ρυθμίσεις μου</MudText>

<MudGrid>
    <MudItem xs="6">
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Variant="Variant.Filled" Placeholder="@_myDTO.Name" @bind-Value="postUser.Name" Disabled Label="Όνομα"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="@_myDTO.Surname" Variant="Variant.Filled" @bind-Value="postUser.Surname" Adornment="Adornment.Start" Disabled Placeholder="Επώνυμο"></MudTextField>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="@_myDTO.PrimaryEmail" Variant="Variant.Filled" @bind-Value="postUser.PrimaryEmail" Adornment="Adornment.Start" Placeholder="Βασική διέυθυνση ηλ. ταχυδρομείου" Disabled></MudTextField>
        </MudItem>
    </MudItem>
    <MudItem xs="6">
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="Προσθήκη τηλεφώνου" @bind-Value="postUser.PhoneNumber" Required="false" Placeholder="Προσθήκη τηλεφώνου" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="string" Label="Προσθήκη εναλλακτικού ηλ. ταχυδροείου" @bind-Value="postUser.SecondaryEmail" Required="false" Placeholder="Προσθήκη εναλλακτικού ηλ. ταχυδροείου" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="int" Label="Τρέχον έτος" @bind-Value="postUser.CurrentYear" Required="false" Placeholder="Τρέχον έτος" />
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudTextField T="int" Label="Έτος εισαγωγής" @bind-Value="postUser.EnrollmentYear" Required="false" Placeholder="Έτος εισαγωγής" />
        </MudItem>
    </MudItem>
    <MudItem xs="12">
        <div class="d-flex align-center justify-space-between mt-6">
            <MudCheckBox T="bool" Class="ml-n2" Label="Recieve notifications by email" />
            <MudButton Variant="Variant.Filled" Color="Color.Info" Class="ml-auto" OnClick="Update">Save Settings</MudButton>
        </div>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <SelectCategories></SelectCategories>
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <SelectSubjects></SelectSubjects>
        </MudPaper>
    </MudItem>

</MudGrid>


 @code {

    @inject NavigationManager NavManager
    [Inject] private IDialogService DialogService { get; set; }

    [Parameter]
    public int id { get; set; }

    private UserDTO _myDTO;
    UserDTO postUser = new UserDTO();

    public async Task<UserDTO> PrintWebApiResponse()
    {
        var response = await Http.GetStringAsync($"https://localhost:5001/api/User/GetUserBy?1");
        //string serializedString = System.Text.Json.JsonSerializer.Serialize(response);

        Console.WriteLine(response);

        var apiResponse = response.DeserializeMethod<UserDTO>();

        return apiResponse;

    }

    protected override async Task OnInitializedAsync()
    {
        _myDTO = await PrintWebApiResponse();
    }

    async Task Update()
    {
        id = 1;
        var post = postUser.SerializeMethod<UserDTO>();
        postUser.UserID = id;
        postUser.Name = _myDTO.Name;
        postUser.Surname = _myDTO.Surname;
        postUser.PrimaryEmail = _myDTO.PrimaryEmail;
        postUser.Role = "admin";

        var response = await Http.PutAsJsonAsync("https://localhost:5001/api/User/UpdateUserByID/1", postUser);

        var result = await response.Content.ReadFromJsonAsync<List<string>>();

    }

}
