@using DTOs.Data;

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Announcement Manager</MudNavLink>
    <MudNavLink Href="/myannouncements" Match="NavLinkMatch.Prefix">My Announcements</MudNavLink>
    <MudNavLink Href="/usersettings" Match="NavLinkMatch.Prefix">User Settings</MudNavLink>
    @if (permissions.canEditAllAnn == true)
    {
        <MudNavLink Href="/announcementsformoderation" Match="NavLinkMatch.Prefix">Moderation</MudNavLink>
    }
    @if (permissions.canSeeStats == true)
    {
        <MudNavLink Href="/statistics" Match="NavLinkMatch.Prefix">Stats</MudNavLink>
    }
</MudNavMenu>


@*
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Announcement Manager</a>
        <button title="Navigation menu" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<nav class="flex-column">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Main
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="myannouncements">
            <span class="oi oi-plus" aria-hidden="true"></span> My Announcements
        </NavLink>
    </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="usersettings">
            <span class="oi oi-list-rich" aria-hidden="true"></span> User Settings
        </NavLink>
    </div>
    @if (permissions.canEditAllAnn == true)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="announcementsformoderation">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Moderation
            </NavLink>
        </div>
    }
    @if (permissions.canSeeStats == true)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistics">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stats
            </NavLink>
        </div>
    }
</nav>
*@


@code {


    private PermissionsDTO permissions = new DTOs.Data.PermissionsDTO
        {
            //Προσομοίωση φοιτητή
            canAcceptAnn = false,
            canAddCategories = true,
            canAddSubjects = true,
            canSeeStats = false,
            canDeleteAllAnn = false,
            canDeleteMyAnn = true,
            canEditAllAnn = false,
            canEditMyAnn = true,
            canEditMySubjects = true,
            canEditMyYears = true,
            canEditNotifications = true,
            canPostAnn = true,
            canPostInfo = true,
            canSeeAllAnn = false,
            canSeeMyAnn = true,
            canSeePubAnn = true,
            selectCategory = false,
            selectSubject = false,
            SOS = false,
        };

    private PermissionsDTO permissions4 = new DTOs.Data.PermissionsDTO
        {
            //Προσομοίωση Ελεγκτή-φοιτητή
            canAcceptAnn = true,
            canAddCategories = true,
            canAddSubjects = true,
            canSeeStats = false,
            canDeleteAllAnn = false,
            canDeleteMyAnn = true,
            canEditAllAnn = true,
            canEditMyAnn = true,
            canEditMySubjects = true,
            canEditMyYears = true,
            canEditNotifications = true,
            canPostAnn = true,
            canPostInfo = true,
            canSeeAllAnn = true,
            canSeeMyAnn = true,
            canSeePubAnn = true,
            selectCategory = false,
            selectSubject = false,
            SOS = true,
        };

    private PermissionsDTO permissions2 = new DTOs.Data.PermissionsDTO
        {
            //Προσομοίωση καθηγητή
            canAcceptAnn = false,
            canAddCategories = true,
            canAddSubjects = true,
            canSeeStats = false,
            canDeleteAllAnn = false,
            canDeleteMyAnn = true,
            canEditAllAnn = false,
            canEditMyAnn = true,
            canEditMySubjects = false,
            canEditMyYears = false,
            canEditNotifications = false,
            canPostAnn = true,
            canPostInfo = true,
            canSeeAllAnn = false,
            canSeeMyAnn = true,
            canSeePubAnn = true,
            selectCategory = true,
            selectSubject = true,
            SOS = true,
        };

    private PermissionsDTO permissions3 = new DTOs.Data.PermissionsDTO
        {
            //Προσομοίωση διαχειριστή
            canAcceptAnn = true,
            canAddCategories = true,
            canAddSubjects = true,
            canSeeStats = true,
            canDeleteAllAnn = true,
            canDeleteMyAnn = true,
            canEditAllAnn = true,
            canEditMyAnn = true,
            canEditMySubjects = true,
            canEditMyYears = true,
            canEditNotifications = true,
            canPostAnn = true,
            canPostInfo = true,
            canSeeAllAnn = true,
            canSeeMyAnn = true,
            canSeePubAnn = true,
            selectCategory = true,
            selectSubject = true,
            SOS = true,
        };
}
