@page "/testapi"

@inject HttpClient Http
@using System.Text.Json
@using System.Text.Json.Serialization;
@using DTOs.Data;
@using static DTOs.Common.Helpers;
@using DTOs.API.Responses;




<h3>testAPI</h3>

<button onclick=@(async () => await PrintWebApiResponse())>Print Web API Response</button>




<h1>Announcements</h1>
<div class="row">
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-6 mt-1">
                        <h5>Τιτλος 1</h5>
                        <div class="d-flex flex-row">
                            <div class="mt-1 mb-1 spec-1"><span>Καγηγορίες</span></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>Μαθήματα</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Σγγραφέας</span></div>
                        <p class="text-justify text-truncate para mb-0">Κείμενο Ανακοίνωσης<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    </div>
                    <NavLink class="nav-link" href="showannouncement">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Show Announcement
                    </NavLink>
                </div>
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-6 mt-1">
                        <h5>Τιτλος 2</h5>
                        <div class="d-flex flex-row">
                            <div class="mt-1 mb-1 spec-1"><span>Καγηγορίες</span></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>Μαθήματα</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Σγγραφέας</span></div>
                        <p class="text-justify text-truncate para mb-0">Κείμενο Ανακοίνωσης<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    </div>
                    <NavLink class="nav-link" href="showannouncement">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Show Announcement
                    </NavLink>
                </div>
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-6 mt-1">
                        <h5>Τιτλος 3</h5>
                        <div class="d-flex flex-row">
                            <div class="mt-1 mb-1 spec-1"><span>Καγηγορίες</span></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>Μαθήματα</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Σγγραφέας</span></div>
                        <p class="text-justify text-truncate para mb-0">Κείμενο Ανακοίνωσης<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    </div>
                    <NavLink class="nav-link" href="showannouncement">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Show Announcement
                    </NavLink>
                </div>
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-6 mt-1">
                        <h5>Τιτλος 4</h5>
                        <div class="d-flex flex-row">
                            <div class="mt-1 mb-1 spec-1"><span>Καγηγορίες</span></div>
                        </div>
                        <div class="mt-1 mb-1 spec-1"><span>Μαθήματα</span></div>
                        <div class="mt-1 mb-1 spec-1"><span>Σγγραφέας</span></div>
                        <p class="text-justify text-truncate para mb-0">Κείμενο Ανακοίνωσης<br><br></p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                    </div>
                    <NavLink class="nav-link" href="showannouncement">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Show Announcement
                    </NavLink>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col text-center">
                <NavLink class="nav-link" href="createannouncement">
                    <span class="oi oi-plus" aria-hidden="true"></span> Προσθήκη Ανακοίνωσης
                </NavLink>
            </div>
        </div>
    </div>


</div>




@code {


    private async Task PrintWebApiResponse()
    {
        var response = await Http.GetStringAsync("https://localhost:5001/api/Announcement/GetAnnouncementBy");
        //string serializedString = System.Text.Json.JsonSerializer.Serialize(response);

        Console.WriteLine(response);

        var annResponse = response.DeserializeMethod<GetAnnouncementsByResponse>();

        foreach (var malakia in annResponse.Announcements)
            Console.WriteLine(malakia.Abstract);

    }
}
